html {
  height: 100%;
  top: 0;
  margin: 0;
}
body {
  height: 100%;
  margin: 0;
}
/*DEFAULT*/
a{
  color: black;
}
a.aclean {
  text-decoration: none;
}
a:hover{
  color:#001B8D;
}
/*HEADER */
header{
  height:100px;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 10;
  background-color: #FFFFFF;
  border-bottom-style: solid;
  border-top-style: solid;
  border-color: #6D858F;
  
}
header #headercontent{
  min-width: 900px;
  max-width: 1200px;
  margin: 0 auto;
}
header img{
  height:100px;
  margin-right: 10px;
  float: left;
}
header h1{
  padding-top: 70px;
  font-size: 30px;
  margin: 0;
  float:left;
}

#login {
  float: right;
  margin-top: 23px;
  margin-right: 5px;
}

#login form {
  margin: 0;
}
#login p {
  margin: 0;
}
#login label{
  display: block;
  float: left;
  width: 92px;
}
#login input{
  max-width: 180px;
}
#login .boutonlog{
  float: right;
}

/* CONTENT*/
#test {
  min-height: 100%;
  position: relative;
  width: 900px;
  margin: 0 auto;
  border-width: 1px;
  border-left-style: solid;
  border-right-style: solid;
  border-color: #6D858F;
}
#content{
  padding: 5px 5px;
  padding-top: 106px;
  padding-bottom: 93px;
}
#content .breadcrum ul{
  margin: 10px 0;
  list-style-type: none;
  padding: 0px;
  height: 20px;
}
#content .breadcrum li{
  float: left;
  margin-right: 6px;
}
#content h2 {
  margin-top: 15px;
  margin-bottom: 10px;
}
p.description{
  clear: both;
  padding: 5px 2px;
  margin-top: 10px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-width: 1px;
  border-color: #6D858F;
  text-align: justify;
}
.info{
    background-color: #ECECEC;
    border-style: solid;
    border-color: #B0B0B0;
}

/* LISTES SUJET & SECTION */

.listesujetsection {
  margin: 0 5px;
  padding: 5px 5px;
  background-color: #FAFAFA;
  border-width: 1px;
  border-left-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-color: #6D858F;
}
.listesujetsection:hover{
  background-color: #ECECEC;
}
.listesujetsection p {
  margin: 0;
  float: left;
}
.listesection .listesujetsection{
  height: 19px;
}
.listesujet .listesujetsection{
  height: 38px;
}
.listesujetsection.etiquette{
  border-top-style: solid;
  height: 19px;
  background-color: #ECECEC;
}
.listesujetsection p.titresection{
  width: 694px;
}
.listesujetsection p.nbsujets{
  width: 87px;
}
.listesujetsection p.nbmessages{
  width: 87px;
}
.listesujetsection p.titresujet {
  width: 607px;
}
.listesujetsection p.lederniermessage {
  width: 171px;
  margin-left: 10px;
}
.listesujetsection p.nbreponses {
  width: 80px;
}

/* MESSAGE */
form.repondresujet {
  margin: 2px 0;
}
form.repondresujet input{
  font-size: 1.2em;
}
.listemessages {
  background-color: #FAFAFA;
  border-left-style: solid;
  border-right-style: solid;
  border-width: 1px;
  border-color: #6D858F;
}

.listemessages .message{
  min-height: 57px;
  border-color: #6D858F;
  border-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  margin-bottom: 10px;
  clear: both;
}

.message p {
  margin: 0 0;
  text-align: justify;
  line-height: 1.3;
}
.message .info {
  background-color: #ECECEC;
  padding: 5px;
  float: left;
  margin-right: 10px;
  border-right-style: solid;
  border-bottom-style: solid;
  border-width: 1px;
  border-color: #6D858F;
}
.message .date {
  margin-top: 5px;
  font-style: italic;
}
.message .auteur {
  font-weight: bold;
}

/* REPONDRE */
.repondre {
  margin: 15px 0;
}
.repondre textarea {
  min-width: 100%;
  max-width: 100%;
  min-height: 200px;
}
.derniersmessages {
  margin-top: 10px;
  border-color: #6D858F;
  border-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  overflow: auto;
  max-height: 300px;
}

.repondre .description {
  min-height: 22px;
  height: 22px;
}
.repondre .titrensujet {
  width: 100%;
}
/* RETOUR */
.retour {
  text-decoration: none;
}

/* FOOTER*/
footer {
  position: absolute;
  height: 80px;
  bottom: 0;
  width: 100%;
  text-align: center;
  border-bottom-style: solid;
  border-top-style: solid;
  border-color: #6D858F;
  background-color: #FFFFFF;
}
footer p {
  margin: 5px;
}
